@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-SemiBold.woff2') format('woff2'),
        url('../fonts/Mont-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Bold.woff2') format('woff2'),
        url('../fonts/Mont-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Regular.woff2') format('woff2'),
        url('../fonts/Mont-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
*{background-color: transparent;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
    font-family: 'Mont';
    font-weight: 600;
    background: #F2F2F2;
    color: #0B0614;

    &._lock{
        overflow: hidden;
    }
}

._container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: content-box;

    &._container_1360 {
        max-width: 1360px;
    }
}


$black: #0B0614;




.wrapper {
    overflow: hidden;
    .header {
        .header__container {
            min-height: 122px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .container__logo {
                display: flex;
                align-items: center;

                &:after{
                    content: "";
                    display: inline-block;
                    height: 32px;
                    border: 1px solid rgba(11, 6, 20, 0.3);
                    border-radius: 3px;
                    margin: 0 24px;
                }
            }
            
            .container__search-wrapper{
                flex: 1 1 auto;
                .search-wrapper__search {
                    
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 8px;
                    border-radius: 12px;
                    transition: 0.3s;
                    margin-right: 10px;

                    input{
                        width: 100px;

                        &::placeholder{
                            color: rgba(11, 6, 20, 0.3);
                            font-weight: 700;
                            font-size: 16px;
                            font-family: 'Mont';
                        }
                    }

                    &:before{
                        content: url("../img/header/search\ 1.svg");
                        margin-right: 12px;
                    }

                    &:hover{
                        background-color: rgb(196, 194, 194);
                    }
                }
            }
            
            .container__menu {
                .menu__icon {
                    position: relative;
                    width: 30px;
                    height: 18px;
                    cursor: pointer;
                    z-index: 15;
                    display: none;
                    span{
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        top: 50%;
                        transform: scale(1) translateY(-50%);
                        background-color: rgb(0, 0, 0);
                        transition: 0.3s;
                    }
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        top: 0;
                        background-color: rgb(0, 0, 0);
                        transition: 0.3s;
                        transition: 0.3s;
                    }
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        background-color: rgb(0, 0, 0);
                        transition: 0.3s;
                    }
                }
                .menu__body {
                    .menu__list {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        li{
                            margin-right: 40px;
                            .menu__link {
                                color: inherit;
                                font-weight: 700;
                                opacity: 0.8;
                                line-height: 125%;
                                position: relative;

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 3px;
                                    background-color: rgb(97, 230, 201);
                                    bottom: 0;
                                    border-radius: 5px;
                                    position: absolute;
                                    width: 0;
                                    transition: 0.3s;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                &:hover{
                                    &:before{
                                        width: 100%;
                                    }
                                    
                                }
                            }
                            .menu__button {
                            }
                        }
                    }
                }
                @media (max-width: 1050px){
                    .menu__body{
                        position: fixed;
                        height: 100%;
                        top: 0;
                        right: 0;
                        padding: 25px;
                        background-color: rgba(92, 173, 92, 0.7);
                        transform: translate(100%);
                        transition: 0.3s;
                        z-index: 10;
                        .menu__list{
                            flex-direction: column;

                            li{
                                margin: 0;
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
                        }
                        &._active{
                            transform: translateX(0);
                        }
                    }
                    .menu__icon {
                        display: block;

                        &._active{

                            span{
                                transform: scale(0);
                            }
                            &::before{
                                top: 50%;
                                transform: rotate(-45deg) translateY(-50%);
                            }
                            &::after{
                                bottom: 50%;
                                transform: translateY(50%) rotate(45deg);
                            }
                        }
                    }
                    
                }
                @media (max-width: 747px){
                    .menu__body{
                        font-size: 20px;

                        .menu__list{
                            li{
                                margin-top: 6px;
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 479px){
            .container__search-wrapper{
                width: 100%;
                order: 3;
            }
            .container__logo {
                order: 1;
            }
            .container__menu {
                order: 2;
                flex: 1 1 auto;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .page {
        .page-1 {
            .page-1__container {
                .page-1__img {
                    background: #D9D9D9;
                    img{
                        width: 100%;
                        border-radius: 24px;
                    }
                }
            }
        }

        .page-2 {
            .page-2__container {
                margin-bottom: 190px;
                .page-2__form {
                    margin-top: -64px;
                    position: relative;
                    z-index: 5;
                    .form__content {
                        padding: 30px 35px;
                        background-color: #fff;
                        box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
                        border-radius: 24px;
                        display: flex;
                        align-items: flex-start;
                        .form__list {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            flex: 1 1 auto;
                            
                            .form__item {
                                width: 217px;
                                margin: 5px;

                                .item__subtitle {
                                    line-height: 125%;
                                    opacity: 0.5;
                                    margin-bottom: 8px;
                                }
                                
                                .form__select{
                                    font-weight: 700;
                                    font-size: 20px;
                                    line-height: 150%;
                                    font-family: inherit;
                                    appearance: none;
                                }
                                

                                &:not(:last-child){
                                    position: relative;
                                    &::after{
                                        content: "";
                                        display: block;
                                        width: 2px;
                                        height: 52px;
                                        opacity: 0.2;
                                        background-color: #0B0614;
                                        top: 0;
                                        right: 0;
                                        position: absolute;
                                    }
                                }
                            }
                        }
                        .form__submit-btn{
                            margin: 5px;
                        }
                        @media (max-width: 1125px){
                            .form__list{
                                justify-content: center;
                            }
                        }
                    }
                    @media (max-width: 715px){
                        .form__content{
                            flex-direction: column;
                            display: inline-block;

                            .form__list {
                                flex-direction: column;
                                justify-content: flex-start;

                                .form__item{
                                }
                            }
                        }
                    }
                }
            }
        }

        .page-3 {
            .page-3__container {
                margin-bottom: 190px;
                .page-3__header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 100px;
                    flex-wrap: wrap;

                    .header__title {
                        margin-right: 20px;
                    }
                    .header__btn {
                    }
                }
                .page-3__body {
                    .body__card-list {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        .body__card-item {
                            background-color: #fff;
                            padding: 40px 50px;
                            border-radius: 20px;
                            margin: 7px;
                            box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
                            cursor: pointer;
                            .card-item__img {
                                max-width: 188px;
                                max-height: 188px;
                                border-radius: 50%;
                                margin-bottom: 30px;
                                width: 100%;
                                height: auto;
                                
                            }
                            .card-item__content {
                                .card-item__name {
                                    margin-bottom: 12px;
                                    font-weight: 800;
                                    font-size: 24px;
                                    line-height: 133%;
                                    text-align: center;
                                }
                                .card-item__critic {
                                    display: flex;
                                    justify-content: center;
                                }
                                .card-item__reviews {
                                    text-align: center;
                                    line-height: 138%;
                                    opacity: 0.6;
                                }
                            }

                            &.body__card-item_orange{
                                background-color: #FF5029;
                                box-shadow: none;
                                .card-item__content {
                                    .card-item__name {
                                        color: #fff;
                                    }
                                    .card-item__critic {
                                        
                                    }
                                    .card-item__reviews {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            } 
        }

        .page-4 {
            .page-4__container {
                margin-bottom: 190px;
                .page-4__title {
                    text-align: center;
                    margin-bottom: 100px;
                }
                .page-4__list {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .page-4__item {
                        flex-basis: 393px;
                        padding: 45px 10px;
                        background: #FEF4F5;
                        border-radius: 20px;
                        margin: 10px;
                        width: 100%;

                        .item__img-container {
                            margin-bottom: 45px;
                            display: flex;
                            justify-content: center;

                            img{
                                flex-basis: 169px;
                                width: 100%;
                            }
                        }
                        .item__text {
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 125%;
                            text-align: center;
                            max-width: 290px;
                            margin: 0 auto;
                        }
                    }
                }
                
                
                
            }
        }

        .page-5 {
            .page-5__container {
                .page-5__img {

                    img{
                        border-radius: 24px;
                        width: 100%;
                    }
                }
                
            }
        }

        .page-6{
            .page-6__container{
                margin-bottom: 190px;
                .page-6__reference {
                }
            }
            
        }

        .page-7 {
            .page-7__container {
                margin-bottom: 190px;
                .page-7__title {
                    text-align: center;
                    margin-bottom: 100px;
                }
                .page-7__places {
                    
                }
            }
        }
    }
    .footer {
        background-color: $black;
        color: #fff;
        padding-top: 90px;
        padding-bottom: 40px;
        .footer__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer__about {
                margin: 15px;
                max-width: 333px;
                .footer-about__title {
                    margin-bottom: 30px;
                }
                .footer-about__text {
                    line-height: 175%;
                    color: rgba(255, 255, 255, 0.8)
                }
            }
            .footer__links {
                margin: 15px;
                max-width: 200px;
                .footer-links__title {
                    margin-bottom: 30px;
                    font-size: 20px;
                    line-height: 140%;
                    font-weight: 800;
                }
                .footer-links__list {
                    .footer-links__item {
                        a{
                            color: rgba(255, 255, 255, 0.8);
                            line-height: 250%;
                            transition: 0.3s;

                            &:hover{
                                color: rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }
            }
            .footer__resources {
                max-width: 200px;
                margin: 15px;
                .footer-resources__title {
                    margin-bottom: 30px;
                    font-size: 20px;
                    line-height: 140%;
                    font-weight: 800;
                }
                .footer-resources__list {
                    .footer-resources__link {
                        a{
                            color: rgba(255, 255, 255, 0.8);
                            line-height: 250%;
                            transition: 0.3s;

                            &:hover{
                                color: rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }
            }
            .footer__contacts {
                margin: 15px;
                max-width: 220px;
                .footer-contacts__title {
                    margin-bottom: 30px;
                    font-size: 20px;
                    line-height: 140%;
                    font-weight: 800;
                }
                .footer-contacts__list {
                    .footer-contacts__email {
                        line-height: 150%;
                        display: flex;
                        margin-bottom: 10px;
                        
                        a{
                            color: #fff;
                        }

                        &::before{
                            content: "";
                            background-image: url("../img/footer/mail.svg");
                            height: 24px;
                            width: 24px;
                            margin-right: 12px;
                            background-repeat: no-repeat;
                            align-self: center;
                        }
                    }
                    .footer-contacts__address {
                        line-height: 150%;
                        display: flex;
                        margin-bottom: 10px;

                        a{
                            color: #fff;
                        }

                        &::before{
                            content: "";
                            background-image: url("../img/footer/map.svg");
                            height: 24px;
                            width: 24px;
                            margin-right: 12px;
                            background-repeat: no-repeat;
                            align-self: center;
                        }
                    }
                    .footer-contacts__networks {
                        line-height: 250%;

                        img{
                            margin: 4px;
                        }
                    }
                }
            }
        }
        @media (max-width: 1015px){
            .footer__container{
                justify-content: center;
            }
        }
    }
}





.places {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .places__big-card {
        background-color: #fff;
        box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
        border-radius: 20px;
        padding: 30px;
        margin: 10px;
        .places-big-card__img {
            border-radius: 16px;
            margin-bottom: 30px;
            max-width: 550px;
            width: 100%;
        }
        .places-big-card__content {
            .places-big-card__btn {
                margin-bottom: 24px;
            }
            .places-big-card__title {
                max-width: 400px;

                &::after{
                    content: url("../img/page-7/image-4.svg");
                    margin-left: 12px;
                    align-self: center;
                }
            }
        }
    }
    .places__small-cards {
        margin: 10px;
        display: flex;
        flex-direction: column;
        .places-small-card {
            box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
            border-radius: 20px;
            background-color: #fff;
            padding: 30px;
            display: flex;
            
            
            &:not(:last-child){
                margin-bottom: 30px;
            }

            .places-small-card__img {
                max-width: 181px;
                margin-right: 30px;
                max-height: 230px;
                width: 100%;
                border-radius: 20px;
            }
            .places-small-card__content {
                
                .places-small-card__btn {
                    margin-bottom: 35px;
                }
                .places-small-card__title {
                    max-width: 300px;

                    &::after{
                        content: url("../img/page-7/image-4.svg");
                        margin-left: 12px;
                        align-self: center;
                    }
                }
            }
        }
        @media (max-width: 615px){
            .places-small-card{
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                .places-small-card__img{
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                .places-small-card__content{
                    width: 100%;

                }
            }
        }
    }

}



.logo{
    a{
        color: inherit;
        font-weight: 700;
        font-size: 28px;
        line-height: 129%;
    }
}

.btn {
    background: #FF5029;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.3;
    padding: 20px 30px;
    transition: 0.3s;

    &:hover{
        background-color: #ca3f1f;
    }
}


.title{
    font-weight: 800;
    font-size: 64px;
    line-height: 109%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-fs40-fw700{
    font-size: 40px;
    font-weight: 700;
}

.subtitle {
    font-size: 40px;
    line-height: 125%;
    font-weight: 700;
}

.padding-r-l-40 {
    padding-right: 40px;
    padding-left: 40px;
}

.bg-orange {
    background-color: #FF5029;
}

.white{
    color: #ffffff;
}

.reference {
    padding: 60px 45px;
    background-color: #fff;
    box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
    border-radius: 24px;
    margin-top: -113px;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .reference-content {
        margin-right: 20px;
        .reference__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 135%;
            word-break: break-all;
        }
        .reference__subtitle {
            font-weight: 700;
            font-size: 40px;
            line-height: 135%;
            color: #FF5029;
            word-break: break-all;
        }
    }
    .reference-block {
        .reference__btn {
            margin-bottom: 25px;
        }
        .reference__joined {
            display: flex;
            align-items: center;
            .reference-joinde__img {
                margin-right: 16px;
            }
            .reference-joined__text {
                span{
                    color: #FF5029;
                }
            }
        }
    }
}



.btn-reverse {
    background: #faecee;
    border-radius: 12px;
    padding: 8px 30px;
    font-size: 24px;
    color: #FF5029;
    font-weight: 700;
    transition: 0.3s;

    &:hover{
        background-color: #ebd2d5;
    }
}